{% extends 'BishBashBoshBundle::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                {% include 'BishBashBoshBundle:partials:specie.html.twig' with {'specie': specie} %}
                <hr>
                <select id='attack-select' onchange='document.location.href="/specie/{{specie.getName()|lower}}/attack/" + this.value;'>
                	<option disabled selected value='choose'>--Attack--</option>
                	{% for specieToAttack in species %}
                		{% if specieToAttack|lower != specie.getName()|lower %}
                			<option value='{{specieToAttack|lower}}'>{{specieToAttack}}</option>
                		{% endif %}
                	{% endfor %}
                </select>
                &bull; <a href='/species/'>Back to species list</a>
            </div>
        </div>
    </div>
{% endblock %}